jinja_template: acls.yaml.jinja2
ldap_dn_search: dc=example,dc=com
ldap_group_filter: (objectClass=ipausergroup)
ldap_password: Password
ldap_uri: ldap://localhost
ldap_user: cn=admin
output_file: acls.yaml
